In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('updated_dataphone.csv')

In [45]:
df.shape

(1226, 25)

In [46]:
import pandas as pd
import pyodbc

# Load the CSV file
df = pd.read_csv('updated_dataphone.csv')

# Replace NaN values with an empty string to ensure all fields are strings
df.fillna('', inplace=True)

# Define your connection details
server = 'adylab.database.windows.net'
database = 'ADY_lab'
username = 'adylab'
password = 'manh123456@'
driver = '{ODBC Driver 17 for SQL Server}'

# Create a connection to the Azure SQL database
connection = pyodbc.connect(f'DRIVER={driver};SERVER={server};PORT=1433;DATABASE={database};UID={username};PWD={password}')
cursor = connection.cursor()

# Define the table creation query with all columns as NVARCHAR(MAX)
create_table_query = '''
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product_data_clean]') AND type in (N'U'))
BEGIN
    CREATE TABLE product_data_clean (
        branch NVARCHAR(MAX),
        name_product NVARCHAR(MAX),
        launch_date NVARCHAR(MAX),
        release_date NVARCHAR(MAX),
        old_price NVARCHAR(MAX),
        new_price NVARCHAR(MAX),
        condition NVARCHAR(MAX),
        ram NVARCHAR(MAX),
        rom NVARCHAR(MAX),
        battery_capacity NVARCHAR(MAX),
        operating_system NVARCHAR(MAX),
        chipset NVARCHAR(MAX),
        screen_size NVARCHAR(MAX),
        screen_resolution NVARCHAR(MAX),
        videopixels NVARCHAR(MAX),
        num_cameras NVARCHAR(MAX),
        wide_camera NVARCHAR(MAX),
        ultrawide_camera NVARCHAR(MAX),
        macro_camera NVARCHAR(MAX),
        telephoto_camera NVARCHAR(MAX),
        cam1modules NVARCHAR(MAX),
        cam2modules NVARCHAR(MAX),
        water_resistance NVARCHAR(MAX),
        nettech NVARCHAR(MAX),
        product_link NVARCHAR(MAX)
    )
END
'''

# Execute the create table query
cursor.execute(create_table_query)
connection.commit()

# Insert data from the DataFrame into the Azure SQL database
for index, row in df.iterrows():
    insert_query = '''
    INSERT INTO product_data_clean (
        branch, name_product, launch_date, release_date, old_price, new_price, condition, ram, rom, 
        battery_capacity, operating_system, chipset, screen_size, screen_resolution, videopixels, 
        num_cameras, wide_camera, ultrawide_camera, macro_camera, telephoto_camera, 
        cam1modules, cam2modules, water_resistance, nettech, product_link
    )
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    '''
    cursor.execute(insert_query, (
        str(row['branch']), 
        str(row['name_product']), 
        str(row['launch_date']), 
        str(row['release_date']), 
        str(row['old_price']), 
        str(row['new_price']), 
        str(row['condition']), 
        str(row['ram']), 
        str(row['rom']), 
        str(row['battery_capacity']), 
        str(row['operating_system']), 
        str(row['chipset']), 
        str(row['screen_size']), 
        str(row['screen_resolution']), 
        str(row['videopixels']), 
        str(row['num_cameras']), 
        str(row['wide_camera']), 
        str(row['ultrawide_camera']), 
        str(row['macro_camera']), 
        str(row['telephoto_camera']), 
        str(row['cam1modules']), 
        str(row['cam2modules']), 
        str(row['water_resistance']), 
        str(row['nettech']), 
        str(row['product_link'])
    ))

# Commit the inserts
connection.commit()

# Close the connection
cursor.close()
connection.close()

print("Data inserted successfully into the Azure SQL database.")

Data inserted successfully into the Azure SQL database.